<div class="col-3	col-sm-3 col-md-3	col-lg-3 col-xl-3" id="profile-left">
  <img id="profile-pic"src="http://acc.aub.edu.lb/wp-content/uploads/2016/12/empty-profile.png" alt="" />
  <h3>{{chef.firstName}} {{chef.lastName}}</h3>
  <h4>{{chef.headline}}</h4>
  <span>☆☆☆☆☆</span>
  <hr>
  <div id="chef-reviews">
    <table>
      <tbody>
        <tr>
          <td>
              <h3>Food was awesome!</h3>
              <h4> by Stephanie</h4>
              <span>☆☆☆☆☆</span>

          </td>
        </tr>
        <tr>
          <td>
            <h3>Cool Experience!</h3>
            <h4> by Jose</h4>
            <span>☆☆☆☆☆</span>
          </td>
        </tr>
        <tr>
          <td>
            <h3>I love this chef!</h3>
            <h4> by Martin</h4>
            <span>☆☆☆☆☆</span>
          </td>
        </tr>
      </tbody>
    </table>
   </div>
</div>
<div class="col-9	col-sm-9 col-md-9	col-lg-9 col-xl-9" id="profile-right">
  <h3>Description</h3>
  <h4>{{chef.description}} Lorem ipsum dolor sit amet, consectetur adipisicing elit. A tenetur odit ad perferendis eos temporibus deleniti placeat dicta, adipisci nostrum minus hic ea atque accusantium repellat eius tempora sequi eaque.</h4>
  <button id="contact-chef">Contact Chef</button>
  <hr>
  <table id="cook-book">
    <h1>CookBook</h1>
    <tbody>
      {{# each chef.dishes}}
        <tr>
          <td>
            <div class="media">
              <div class="media-left">
                <img class="media-object" id="dish-img" src="https://i1.wp.com/caughtinbetweenmom.files.wordpress.com/2017/01/curry-chicken.jpg?w=128&h=128&crop=1&ssl=1" alt="...">
              </div>
              <div class="media-body">
                <a href="#" id="dish-title">{{this.dishTitle}}</a>
                <div class="rating">
                  <span>☆☆☆☆☆</span>
                </div>
                <span id="dish-description">{{this.dishDescription}}</span>
              </div>
              <div class="media-right">
                <span id="dish-price">${{this.dishPrice}}</span>
                <button class="btn btn-primary" type="button" name="button">Add to Cart</button>
              </div>
            </div>
          </td>
        </tr>
      {{/each}}
      <tr>
        <td>
          <a id="dish" href="#">
          <div class="media">
            <div class="media-left">
              <img class="media-object" id="dish-img" src="https://i1.wp.com/caughtinbetweenmom.files.wordpress.com/2017/01/curry-chicken.jpg?w=128&h=128&crop=1&ssl=1" alt="...">
            </div>
            <div class="media-body">
              <span id="dish-title">Chicken over Rice Hallal</span>
              <div class="rating">
                <span>☆☆☆☆☆</span>
              </div>
              <span id="dish-description">description</span>
            </div>
            <div class="media-right">
              <span id="dish-price">$10</span>
            </div>
          </div>
          </a>
        </td>
      </tr>

      <tr>
        <td>
          <a id="dish" href="#">
          <div class="media">
            <div class="media-left">
              <img class="media-object" id="dish-img" src="https://s-media-cache-ak0.pinimg.com/736x/a7/4b/5e/a74b5e6343b8ef89f39605d0790c1d39.jpg" alt="...">
            </div>
            <div class="media-body">
              <span id="dish-title">Spaghetti with tomato sauce and potatoes</span>
              <div class="rating">
                <span>☆☆☆☆☆</span>
              </div>
            </div>
            <div class="media-right">
              <span id="dish-price">$25</span>
            </div>
          </div>
        </a>
      </tr>
      <tr>
        <td>
          <a id="dish" href="#">
          <div class="media">
            <div class="media-left">
              <img class="media-object" id="dish-img" src="http://images.bigoven.com/image/upload/t_recipe-256/koreanbbqkalbi-ee4064.jpg" alt="...">
            </div>
            <div class="media-body">
              <span id="dish-title">Korean Galbi with some Samjjang</span>
              <div class="rating">
                <span>☆☆☆☆☆</span>
              </div>
            </div>
            <div class="media-right">
              <span id="dish-price">$30</span>
            </div>
          </div>
         </a>
        </td>
      </tr>
    </tbody>
  </table>
<hr>

{{#if isLoggedIn}}
  <form id="new-dish-form" method="post">
    <h2>New Dish Form</h2>
    <div class="form-group">
      <label for="dishTitle">Title</label>
      <input id="dishTitle" name="dishTitle" class="form-control" type="text" placeholder="Title"/>
    </div>
    <div class="form-group">
      <label for="dishDescription">Description</label>
      <textarea id="dishDescription" name="dishDescription" class="form-control" placeholder="Description" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="dishPrice">Price</label>
      <input id="dishPrice"name="dishPrice" class="form-control" placeholder="Price" type="number" />
    </div>
    <div class="form-group">
      <label for="dishImg">Image</label>
      <input id="dishImg" name="dishImg" class="form-control-file" type="file" />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
{{/if}}

</div>
